
body {
   
    background-color: #282424;

}

.header{
    display: grid;
    grid-template-columns: 60px 40px 40px;
    grid-template-rows: 100px;
    grid-gap: 140%;
    grid-template-areas: "logocabecera busqueda botones-derecha";
    
}
.header{
    position: fixed;
    align-items: left;
    width: 100%;
    top: -0px;
    z-index: 1;

    background-color: aqua;
}


.fa-brands.fa-youtube{
    color: red;
    font-size: 40px;
}
.fa-brands.fa-youtube{
    position: fixed;
    top: 30px;
    left: 60px;
}
.Name-cabecera{
    position: fixed;
    top: 9px;
    color: black;
}

.buscador-cabecera{
    position: fixed;
    width: 500px;
    right: 675px;
    height: 45px;
    z-index: 10;
    top: 21px;
    
    text-align: center;
    
    
    background-color: blueviolet;
}

.buscador{
    width: 25em;
    height: 28px;
}

.menu-principal{
    position: relative;
    top: 35px;

   font-size: 20px;
}



.menu-izquierdo{
    position: fixed;
    width: 250px;
    height: 900px;
    bottom: 0px;
    top: 143px;
    color: #ccc;
    
    background-color: red;
    
    font-size: 32px;
}

.botones-derecha{
    position: fixed;
    right: 30px;
    width: 150px;
    height: 35px;
    top: 30px;
    text-align: center;
    z-index: 20;

background-color: burlywood;
}

.contenido{
    position: relative;
    width: 85%;
    height: 7100px;
    top: 127px;
    bottom: 790px;
    left: 270px;
    
    background-color: orange;

}
img{
 height: 348px;
 width: 348px;

 

 margin: 10px;
}

span{
    margin: 17px;
}





